<mat-toolbar color="primary" class="app-header mat-elevation-z2">
  <mat-toolbar-row>
    <span *ngIf="isAuthorized">Hello, {{userName}}!</span>
    <span class="centered">BOOKSTORE</span>
    <button *ngIf="isUser && !isAdmin" mat-button routerLink="user/shopcart">
      Shopping cart ({{shoppingCartItemsCount}})</button>
    <button *ngIf="isAuthorized" mat-button routerLink="home">Home</button>
    <button *ngIf="isAuthorized" mat-button (click)="logout()">Logout</button>
    <button *ngIf="!isAuthorized" mat-button routerLink="login">Login</button>
    <button *ngIf="!isAuthorized" mat-button routerLink="register">Register</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

