image: maven:latest

stages:
  - build
  - docker
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"


build:
  stage: build
  cache:
    paths:
      - .m2/repository/
      - bookstore-client/node_modules
      - bookstore-server/target/
  script:
    - mvn $MAVEN_CLI_OPTS clean package
  artifacts:
    paths:
      - bookstore-server/target/

docker:
  image: docker:18.03
  services:
    - docker:dind

  variables:
    DOCKER_DRIVER: overlay

  stage: docker
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN hub.githost.io
  script:
    - docker build -t hub.githost.io/jubee/bookstore ./bookstore-server
    - docker push hub.githost.io/jubee/bookstore


deploy:
  stage: deploy

  script:
    - docker-compose -H njt.earth3.nixsolutions.com:5000/hub.githost.io/jubee/bookstore -f docker-compose.yml down --remove-orphans
    - docker-compose -H njt.earth3.nixsolutions.com:5000/hub.githost.io/jubee/bookstore -f docker-compose.yml down --rmi all
    - docker-compose -H njt.earth3.nixsolutions.com:5000/hub.githost.io/jubee/bookstore -f docker-compose.yml up -d
