.container {
  margin: 20px auto;
  width: 80%
}

.mat-column-id {
  flex: 0 0 5%;
}

.mat-column-books {
  flex: 0 0 55%;
}

.mat-column-total {
  text-align: center;
  flex: 0 0 20%;
}

.mat-column-date {
  flex: 0 0 20%;
}

.mat-cell, {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-header-row, .mat-row {
  min-height: 30px;
  padding: 0 5px;
}
