<div class="container">
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" class="form-control"
             formControlName="username" required>
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
        {{username.errors.server}}
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" class="form-control" type="password"
             formControlName="password" required>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        {{password.errors.server}}
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Confirm password</label>
      <input id="passwordConfirm" class="form-control" type="password"
             formControlName="passwordConfirm" required>
      <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
           class="alert alert-danger">
        <div *ngIf="passwordConfirm.errors.required">
          Confirm password is required.
        </div>
        {{passwordConfirm.errors.server}}
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control"
             formControlName="email" required>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        {{email.errors.server}}
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input id="birthday" class="form-control" type="date"
             formControlName="birthday" required>
      <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
           class="alert alert-danger">
        <div *ngIf="birthday.errors.required">
          Birthday is required.
        </div>
        {{birthday.errors.server}}
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" class="form-control"
              formControlName="gender" required>
        <option></option>
        <option>Male</option>
        <option>Famale</option>
      </select>
      <div *ngIf="gender.invalid && (gender.dirty || gender.touched)"
           class="alert alert-danger">
        <div *ngIf="gender.errors.required">
          Gender is required.
        </div>
        {{gender.errors.server}}
      </div>
    </div>

    <button type="submit" class="btn btn-primary"
            [disabled]="registerForm.invalid">Submit
    </button>

  </form>
</div>


