<mat-card class="book-card mutable-field">
  <mat-card-header>
    <mat-card-title>{{book.name}}</mat-card-title>
  </mat-card-header>
  <mat-chip-list style="float: right;">
    <mat-chip color="accent"  selected="true"> $ {{book.price}} </mat-chip>
  </mat-chip-list>
  <img src="{{book.photo}}" alt="Photo of book">
  <mat-card-actions>

    <mat-chip-list>
      <mat-chip *ngIf="!book.visible">Absent</mat-chip>
    </mat-chip-list>

    <button *ngIf="book.visible && !isInCart" mat-raised-button color="primary"
            (click)="addToCart()" title="Add to cart">ADD</button>
    <button *ngIf="isInCart" disabled mat-raised-button>IN CART</button>

  </mat-card-actions>
</mat-card>
