server:
    port: 7070

spring:

    application:
        name: bookstore

    data:
        rest:
          base-path: "/api"

    h2:
      console:
        enabled: true
        path: /h2-console

    jpa:
        show-sql: true
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

#    datasource:
#        driverClassName: org.postgresql.Driver
#        url: jdbc:postgresql://db:5432/devdb
#        username: dev
#        password: dev