<mat-card class="container">

  <mat-table #table [dataSource]="shoppingCartItems">

    <ng-container matColumnDef="bookName">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.book.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let item"> $ {{item.book.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef> Count</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.count}}
        <!--
    <input type="number" matInput [(ngModel)]='book.price' placeholder="price">-->
        <button mat-raised-button (click)="upCount(item)" class="count-btn">Up</button>
        <button mat-raised-button (click)="downCount(item)" class="count-btn">Down</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-toolbar-row>
    <button id="clearCart" mat-raised-button color="primary"
            (click)="clearCart()">Clear cart</button>
    <button id="submitOrder" mat-raised-button color="primary"
            (click)="performOrder()">Submit order</button>
  </mat-toolbar-row>

</mat-card>
