.container {
  margin: 20px auto;
}

.mat-column-id {
  flex: 0 0 5%;
}

.mat-column-books {
  flex: 0 0 65%;
}

.mat-column-total {
  text-align: center;
  flex: 0 0 15%;
}


.mat-header-cell {
  font-weight: bold;
}

.mat-header-row, .mat-row {
  min-height: 30px;
  padding: 0 5px;
}
