.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 60%;
}

.mat-column-price {
  flex: 0 0 10%;
}

.mat-column-absent {
  flex: 0 0 10%;
  text-align: center;
}

.mat-column-actions {
  flex: 0 0 10%;
}

.mat-header-cell {
  font-weight: bold;
}
