.container {
  margin: 20px auto;
  width: 80%;
  padding: 10px 20px;
}

.mat-column-id {
  flex: 0 0 5%;
}

.mat-column-name {
  flex: 0 0 70%;
}

.mat-column-price {
  flex: 0 0 20%;
}

.mat-column-date {
  flex: 0 0 5%;
}

.mat-header-cell {
  font-weight: bold;
}
