.container {
  margin: 10px 0;
}

.mat-column-price {
  text-align: center;
  flex: 0 0 20%;
}

.mat-column-count {
  flex: 0 0 20%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row {
   border-bottom-style: none;
}

.mat-header-row, .mat-row {
  min-height: 30px;
  padding: 0 5px;
}

