.mat-column-bookName {
  flex: 0 0 60%;
}

.mat-column-price {
  text-align: center;
  flex: 0 0 20%;
}

.mat-column-count {
  flex: 0 0 20%;
}

.mat-cell, .mat-header-cell {
  text-align: center;
}
.mat-header-cell {
  font-weight: bold;
}

.mat-row {
   border-bottom-style: none;
}

.mat-header-row {
  border-bottom: 1px solid lightgrey;
}

.mat-header-row, .mat-row {
  min-height: 30px;
  padding: 0 5px;
}

