<table>
  <tr>
    <th>OrderBookPrices
      <table>
        <thead>
        <th>Book name</th>
        <th>Price</th>
        <th>Count</th>
        </thead>
      </table>
    </th>
    <th>Total</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>
      <table *ngFor="let orderBookPrice of order.orderBookPrices">
        <tr>
          <td>{{orderBookPrice.book.name}}</td>
          <td>{{orderBookPrice.price}}</td>
          <td>{{orderBookPrice.count}}</td>
        </tr>
      </table>
    </td>
    <td>{{ order.totalAmount }}</td>
    <td>{{ order.date }}</td>
  </tr>
</table>
