.container {
  margin: 20px auto;
  /*padding: 10px 20px;*/
  max-width: 600px;
}

.full-width {
  width: 100%;
}

.mutable-field {
  height: 7.5vh;
}

.mat-form-field {
  margin: 5px 0;
}

.globalError {
  margin: 10px 0;
}
