<mat-card class="container">

  <mat-table #table [dataSource]="shoppingCartItems">

    <ng-container matColumnDef="bookName">
      <mat-header-cell *matHeaderCellDef> NAME</mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{item.book.name}}
        <p *ngIf="item.book.absent" class="warning">Absent</p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> PRICE</mat-header-cell>
      <mat-cell *matCellDef="let item"> $ {{item.book.price.toFixed(2)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef> COUNT</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.count}}
        <!--
    <input type="number" matInput [(ngModel)]='book.price' placeholder="price">-->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> ACTIONS</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <!--<input type="number" matInput [(ngModel)]='book.price' placeholder="price">-->

        <button *ngIf="!item.book.absent" mat-raised-button class="count-btn" (click)="upCount(item)">Up</button>
        <button *ngIf="!item.book.absent" mat-raised-button class="count-btn"
                [disabled]="item.count == 1" (click)="downCount(item)">Down</button>
        <button id="removeItem" mat-raised-button color="accent"
                (click)="removeItem(item)">Remove</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-toolbar-row *ngIf="hasAbsentBook" >
    <mat-error class="globalError">
      {{hasAbsentBookError}}
    </mat-error>
  </mat-toolbar-row>

  <mat-toolbar-row>

    <button id="clearCart" mat-raised-button color="primary"
            [disabled]="disableClear" (click)="clearCart()">Clear cart</button>
    <button id="submitOrder" mat-raised-button color="primary"
            [disabled]="disableSubmit" (click)="submitOrder()">Submit order</button>
  </mat-toolbar-row>
  <mat-error>{{globalError}}</mat-error>

</mat-card>
