.container {
  margin: 20px auto;
  width: 80%;
  padding: 10px 20px;
}

.mat-column-bookName {
  flex: 0 0 40%;
}

.mat-column-price {
  text-align: center;
  flex: 0 0 20%;
}

.mat-column-count {
  flex: 0 0 10%;
}
.mat-column-actions {
  flex: 0 0 30%;
}

#performOrder{
  margin-top: 5px;
}
.fill-remaining-space{
  flex: 1 1 auto;
}

#submitOrder {
  position: absolute;
  right: 30px;
}

.count-btn {
  margin: 5px;
  min-width: 50px;
}

.warning {
  font-style: italic;
  color: orangered;
}

.globalError {
  margin: 10px 0;
}

