<mat-card class="container">
  <mat-card-title>Sing up</mat-card-title>
  <form #loginForm="ngForm" (ngSubmit)="login(credentials)">
    <mat-error class="globalError">{{globalError}}</mat-error>

    <mat-form-field class="full-width mutable-field">
      <input matInput [(ngModel)]="credentials.username" placeholder="Email"
             [errorStateMatcher]="matcher" required name="username" #email=ngModel>
      <mat-error *ngIf="email.errors?.required">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width mutable-field">
      <input matInput type="password" [(ngModel)]="credentials.password" placeholder="Password"
             [errorStateMatcher]="matcher" required name="password" #password=ngModel>
      <mat-error *ngIf="password.errors?.required">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-toolbar-row>
      <button type="submit" mat-raised-button color="primary"
              [disabled]="loginForm.invalid"> LOGIN </button>
      <span class="centered"></span>
      <a routerLink="/register" >Register</a>
    </mat-toolbar-row>
  </form>
</mat-card>

