<mat-card class="container">
  <mat-card-title>Register</mat-card-title>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

    <mat-error *ngIf="globalError">
      {{globalError}}
    </mat-error>

    <mat-form-field  class="full-width mutable-field">
      <input matInput formControlName="username"  placeholder="Name"
             required name="username">
      <mat-error *ngIf="username.errors?.required">
        Name is required
      </mat-error>
      <mat-error *ngIf="username.errors?.incorrect">
        {{username.errors.incorrect}}
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="full-width mutable-field">
      <input matInput formControlName="email"  placeholder="Email"
             required name="email">
      <mat-error *ngIf="email.errors?.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.errors?.incorrect">
        {{email.errors.incorrect}}
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="full-width mutable-field">
      <input type="password" matInput formControlName="password"
             placeholder="Password" required name="password">
      <mat-error *ngIf="password.errors?.required">
        Password is required
      </mat-error>
      <mat-error *ngIf="password.errors?.incorrect">
        {{password.errors.incorrect}}
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="full-width mutable-field">
      <input type="password" matInput formControlName="passwordConfirm"
             placeholder="Confirm password" required name="passwordConfirm">
      <mat-error *ngIf="passwordConfirm.errors?.required">
        Confirm password is required
      </mat-error>
      <mat-error *ngIf="passwordConfirm.errors?.mismatch">
        Should match with password.
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="full-width mutable-field">
      <mat-select formControlName="gender" required name="gender">
        <mat-option></mat-option>
        <mat-option value="MALE"> Male </mat-option>
        <mat-option value="FEMALE"> Female </mat-option>
      </mat-select>
      <mat-error *ngIf="gender.errors?.required">
        Gender is required
      </mat-error>
      <mat-error *ngIf="gender.errors?.incorrect">
        {{username.errors.incorrect}}
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="full-width mutable-field">
      <input type="date" matInput formControlName="birthday" placeholder="Birthday"
             required name="birthday">
      <mat-error *ngIf="birthday.errors?.required">
        Birthday is required
      </mat-error>
      <mat-error *ngIf="birthday.errors?.pattern">
        Not a well-formed date (format YYYY-mm-dd)
      </mat-error>
      <mat-error *ngIf="birthday.errors?.incorrect">
        {{birthday.errors.incorrect}}
      </mat-error>
    </mat-form-field>

    <mat-toolbar-row>
      <span></span><span class="centered"></span>
      <button type="submit" mat-raised-button color="primary"
              [disabled]="registerForm.invalid"> SUBMIT </button>
    </mat-toolbar-row>

  </form>
</mat-card>


