<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-list>
      <mat-list-item [class.active]="isActive('profile')">
        <a routerLink="profile">Profile</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [class.active]="isActive('books')">
        <a routerLink="books">Books</a>
      </mat-list-item >
      <mat-divider></mat-divider>
      <mat-list-item [class.active]="isActive('orders')">
        <a routerLink="orders">Orders</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
