version: '3'
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: devdb

  bookstore:
    image: bookstore
    ports:
      - "7070:7070"
    depends_on:
      - db